
<!--<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
-->
<footer class="ui vertical footer segment">
  <div class="ui center aligned text container">
    <div class="ui list">
      <div class="item">
        <div class="content">
          <a href="mailto:{{ site.email }}"><i class="mail icon"></i></a>
          <a href="https://github.com/{{ site.github_username }}"><i class="github icon"></i></a>
        </div>
      </div>
      <div class="item">
        <div class="content">Sumin.Lee</div>
      </div>
      <div class="item">
        <div class="content">NHN Ent. Junior</div>
      </div>
    </div>
  </div>
</footer>