<footer class="ui vertical footer segment">
  <div class="ui center aligned text container">
    <div class="ui list">
      <div class="item">
        <div class="content">
          <a href="mailto:{{ site.email }}"><i class="mail icon"></i></a>
          <a href="https://github.com/{{ site.github_username }}"><i class="github icon"></i></a>
        </div>
      </div>
      <div class="item">
        <div class="content">Sumin.Lee</div>
      </div>
      <div class="item">
        <div class="content">NHN Ent. Junior</div>
      </div>
    </div>
  </div>
</footer>