<header class="ui main center aligned text container">
  <h1 class="ui header">ssucom</h1>
  <p>sumin.lee</p>
</header>
<div class="ui borderless main menu">
  <div class="ui text container">
    <a href="{{ site.baseurl }}/" class="header item">
      <i class="home icon"></i>
    </a>
    {% for my_page in site.pages %}
      {% if my_page.title %}
        <a class="item" href="{{ my_page.url | prepend: site.baseurl }}">
          {{ my_page.title }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>