<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:type" content="website" />
	<meta property="og:title" content="크루세이더 퀘스트 달콤한 나의 여름 이벤트!" />
	<meta property="og:url" content="http://mobileevent.hangame.com/crusadersquest/summerEvent.nhn" />
	<meta property="og:description" content="크루세이더 퀘스트 달콤한 나의 여름 이벤트! <br>여름은 반드시 크퀘와 함께하게 될 거에요! 당신을 위해 달콤하고 풍성한 여름 이벤트가 준비되어 있으니까요." />
	<meta property="og:image" content="http://images.toast.co.kr/toast/crusadersquest/summerEvent/title.png" />

  <link rel="stylesheet" href="{{ "/css/semantic.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <!--<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="{{ "/js/semantic.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
</head>
